data/maven/maven-central/artifact-id-fully-qualified/maven-central.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="groupId" type="xs:string" />
        <xs:element name="artifactId" type="xs:string" />
        <xs:element name="versioning">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="latest" type="xs:string" />
              <xs:element name="release" type="xs:string" />
              <xs:element name="versions">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="version" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="lastUpdated" type="xs:unsignedLong" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>